<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="admin-header">
    <title>Employee Payroll System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"></link>
	<link rel="stylesheet" href="../css/util.css" th:href="@{/css/util.css}"></link>
	
    <!-- Scripts -->
	<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	
</head>
<body>
<div th:fragment="admin-navbar" class="navigation">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PayRoll System</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li id="home" class="active"><a href="/home" th:text="#{menu.home}"></a></li>
							<li id="manage">
								<a class="nav-link dropdown-toggle" th:text="#{menu.manage}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        	</a>
					        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						          <ul class="nav">
							          <li><a class="dropdown-item sub-menu" href="/employee/all">Employee</a></li>
							          <li><a class="dropdown-item sub-menu" href="/payment/all">Payment Type</a></li>
							          <li><a class="dropdown-item sub-menu" href="/report">Report</a></li>
						          </ul>
						        </div>
					        	</li>
							<li id="logout"><a href="/logout" th:text="#{menu.logout}"></a></li>
						</ul>
						
					</nav>

				</div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 </div>
 <footer class="footer" th:fragment="admin-footer">
	&copy; Spring MVC Blog System, 2018
</footer>
</body>
</html>