<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/admin_layout :: admin-header">
<title>Welcome to Home Page</title>
</head>
<body>
<div th:replace="common/admin_layout :: admin-navbar"></div>
<div class="container">
	<h1 class="text-center" th:inline="text">Hello Administrator</h1>
	<p>
		This system can calculate for full-time employees and part-time employees. Please Choose Your Payment Types.
	</p>
	<p class="text-center" style="color: red;" th:if="${message}" th:text="${message}">No error</p>
	<div class="row">
		<form method="post" th:action="@{/salary}">
			<div class="row">
				<div class="col-sm-2">Payment: </div>
				<div class="col-sm-4">
					<select class="form-control" id="paymentId" name="paymentId">						
				    	<option th:each="payment : ${paymentList}"
				             th:value="${payment.paymentId}"
				             th:text="${payment.paymentType}">
				    	</option>
					</select>
				</div>
				<div class="col-sm-4"><button type="submit" class="btn btn-primary btnedit">Submit</button></div>
			</div>
			
		</form>
	</div>
 </div>
   
<footer th:replace="common/admin_layout :: admin-footer"></footer>
<script type="text/javascript">
$(document).ready(function(){
	$("#home").addClass("active");
	$("#manage").removeClass("active");
});
</script>
</body>
</html>